*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	--bgColor: white;
	--color: #222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bgColor: #222;
		--color: white;
	}
}

html {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	background-color: var(--bgColor);
	color: var(--color);
	display: flow-root;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
}

.container {
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;
	display: block;
	width: 100%;
}

.mat-mdc-card {
  background-color: var(--bgColor) !important;
	color: var(--color) !important;
	gap: 1rem;
	box-shadow: none !important;
}

.mat-mdc-card-subtitle {
	color: var(--color) !important;
}

.mat-card-line {
	display: flex !important;
	align-items: center;
	gap: 1rem;
}

.mdc-card__actions {
	gap: 1rem;
}

.mat-mdc-raised-button:disabled {
	background-color: color-mix(in srgb, var(--bgColor) 50%, white) !important;
}
