*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	--bgColor: white;
	--color: #222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bgColor: #222;
		--color: white;
	}
}

html {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	background-color: var(--bgColor);
	color: var(--color);
	display: flow-root;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
}

.container {
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;
	display: block;
	width: 100%;
}
